body {
    margin: 0;
    background-color: black;
    color: #fff;
    font-family: 'Montserrat';
}

h1 {
   text-align: center;
}
img {
   margin: 0;
   display: flex;
   width: 100px;
}

/*tanjiro-card1*/
.tanjiro_1 {
    position: relative;
    width: 250px;
    transition: all .5s ease;
}
 .tanjiro_1 img:first-child {
    box-shadow: 0 60px 60px 
-60 rgba(0, 30, 255, 0.5);
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
 }

 .tanjiro_1 img:last-child {
    position: absolute;
    width: 200px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3 ease;
    opacity: 0;
    background-color: transparent;
   border-radius: 15px;
 }

 .tanjiro_1:hover {
    transform:
        perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0)
 }

 .tanjiro_1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
linear-gradient(
    to bottom,
    transparent 10%
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
);
   opacity: 0;
   transition: all .5s ease;
 }

 .tanjiro_1:hover::before {
    opacity: 1;
 }

 .tanjiro_1:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
 }



/*zenitsu-card2*/
.zenitsu_2 {
   position: relative;
   width: 250px;
   transition: all .5s ease;
}
.zenitsu_2 img:first-child {
   box-shadow: 0 60px 60px 
-60 rgba(0, 30, 255, 0.5);
   border-radius: 10px;
   object-fit: cover;
   width: 100%;
}

.zenitsu_2 img:last-child {
   position: absolute;
   width: 200px;
   bottom: 50px;
   left: 0;
   right: 0;
   margin: auto;
   transform: translateY(25%);
   transition: .5 ease;
   opacity: 0;
   background-color: transparent;
  border-radius: 15px;
}

.zenitsu_2:hover {
   transform:
       perspective(250px)
       rotateX(10deg)
       translateY(-5%)
       translateZ(0)
}

.zenitsu_2::before {
   content: '';
   position: absolute;
   bottom: 0;
   height: 100%;
   width: 100%;
   background-image: 
linear-gradient(
   to bottom,
   transparent 10%
   rgba(0, 0, 0, 0.5) 50%,
   rgba(0, 0, 0) 95%
);
  opacity: 0;
  transition: all .5s ease;
}

.zenitsu_2:hover::before {
   opacity: 1;
}

.zenitsu_2:hover img:last-child {
   opacity: 1;
   transform: translateY(10%);
}






/*inosuke-card3*/
.inosuke_3 {
   position: relative;
   width: 250px;
   transition: all .5s ease;
}
.inosuke_3 img:first-child {
   box-shadow: 0 60px 60px 
-60 rgba(0, 30, 255, 0.5);
   border-radius: 10px;
   object-fit: cover;
   width: 100%;
}

.inosuke_3 img:last-child {
   position: absolute;
   width: 200px;
   bottom: 50px;
   left: 0;
   right: 0;
   margin: auto;
   transform: translateY(25%);
   transition: .5 ease;
   opacity: 0;
   background-color: transparent;
  border-radius: 15px;
}

.inosuke_3:hover {
   transform:
       perspective(250px)
       rotateX(10deg)
       translateY(-5%)
       translateZ(0)
}

.inosuke_3::before {
   content: '';
   position: absolute;
   bottom: 0;
   height: 100%;
   width: 100%;
   background-image: 
linear-gradient(
   to bottom,
   transparent 10%
   rgba(0, 0, 0, 0.5) 50%,
   rgba(0, 0, 0) 95%
);
  opacity: 0;
  transition: all .6s ease;
}

.inosuke_3:hover::before {
   opacity: 1;
}

.inosuke_3:hover img:last-child {
   opacity: 1;
   transform: translateY(10%);
}

.tanjiro_1, .zenitsu_2, .inosuke_3 {
   margin-left: 13%;
   margin: 0 100;
   display: inline-block;
}


footer {
   text-align: center;
   margin-top: 20%;
}